<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deltagelse</title>
  <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
<div class="navbar">
  <a href="Både.html">Både</a>
  <a href="Kapsejlads.html">Kapsejlads</a>
  <a href="Deltagelse.html">Deltagelse</a>
</div>


<h2>Tryk her for at lave en deltagelse!</h2>
<button id="pbFillDropDown">Fyld Dropdown</button>

<table id="deltagelse">
  <tr>
    <td>
      <label for="kapsejladsId">Kapsejlads ID:</label>
      <select id="kapsejladsId"></select>
    </td>

    <td>
      <label for="bådId">Båd ID:</label>
      <select id="bådId">

      </select>
    </td>

    <td>
      <label for="ddPoint">Point:</label>
      <input type="number" id="ddPoint" name="number">
    </td>
  </tr>
</table>
<button onclick="sendTableData()"  type="submit">Submit</button>
<br><br>

<div class="container">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col">Deltager ID</th>
      <th scope="col">Båd</th>
      <th scope="col">Kapsejlads</th>
      <th scope="col">Point</th>
    </tr>
    </thead>
    <tbody id="t-body">

    </tbody>
  </table>
</div>


<script src="../js/Kapsejlads.js"></script>
<script src="../js/fetchany.js"></script>
<script src="../js/dropdown.js"></script>
<script src="../js/createtable.js"></script>
<script src="../js/Båd.js"></script>
</body>
</html>