<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deltagelse</title>
  <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
<div class="navbar">
  <a href="Både.html">Både</a>
  <a href="Kapsejlads.html">Kapsejlads</a>
  <a href="Deltagelse.html">Deltagelse</a>
</div>


<h1>Tryk her for at fylde dropdown!</h1>
<button id="pbFillDropDown">Fyld</button>

<table>
  <tr>
    <td>
      <label>Kapsejlads:</label>
      <select id="ddKapsejlads"></select>
    </td>

    <td>
      <label>Både:</label>
      <select id="ddBåde">

      </select>
    </td>

    <td>
      <label for="number">Point:</label>
      <input type="number" id="number" name="number">
    </td>
  </tr>
</table>
<button  type="submit">Submit</button>



<script src="../js/Kapsejlads.js"></script>
<script src="../js/fetchany.js"></script>
<script src="../js/dropdown.js"></script>
<script src="../js/createtable.js"></script>
<script src="../js/Båd.js"></script>
</body>
</html>