<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kapsejlads</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>

<div class="navbar">
    <a href="Både.html">Både</a>
    <a href="Kapsejlads.html">Kapsejlads</a>
    <a href="Deltagelse.html">Deltagelse</a>
</div>

<h2>Opret Kapsejlads</h2>

<form id="opretKapsejlads" onsubmit="opretKapsejlads()">
    <label for="kapsejlads">Kapsejlads Navn:</label>
    <input type="text" id="kapsejlads" name="kapsejlads" placeholder="Skriv navnet på kapejlads">
    <br>
    <input type="submit" value="Submit">
</form>


<br> <br>
<h2>Alle Kapsejlads</h2>
<div class="container">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Navn</th>

        </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
    <br> <br>
    <div>
        <h2>Fjern Kapsejlads</h2>
        <input type="number" id="text-field" placeholder="Vælg KapsejladsId">
        <button class="delete-button" onclick="deleteKapsejlads()" >Slet</button>
    </div>

</div>
<br> <br>

<h2>Rediger kapsejlads</h2>

<form id="editKapsejladsForm">
    <label for="kapsejladsId">Kapsejlads ID:</label>
    <input type="number" id="kapsejladsId" name="name" required placeholder="Skriv Kapsejlads ID"><br><br>

    <label for="navn">Kapsejlads Navn:</label>
    <input type="text" id="navn" name="navn" placeholder="Skriv navnet på kapejlads">

    <br>
    <br>
    <button  type="submit">Opdater Kapsejlads </button>
</form>

<br> <br>




<script src="../js/dropdown.js"></script>
<script src="../js/createtable.js"></script>
<script src="../js/Kapsejlads.js"></script>
<script src="../js/Båd.js"></script>
</body>
</html>